@import "./variables.scss";
@font-face {
  font-family: "vazir";
  font-style: normal;
  src: url(../assets/fonts/Vazir-Black.eot);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "vazir";
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  background-color: $main-bg;
  color: $main-color;
}
.container {
  display: flex;
}
.menuContainer {
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  border-left: 2px solid $soft-bg;
}
.contentContainer {
  padding: 5px 20px;
}
