@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Lalezar";
  background-color: $main-bg;
  color: $main-color;
}
.container {
  display: flex;
}
.menuContainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    border-left: 2px solid $soft-bg;
}
.contentContainer{
       padding: 5px 20px;
}
