@use '../../styles/index.scss' as *;
.navbar {
  width: 100%;
  height: 80px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    @include flex-center;
    gap: 10px;
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
    p {
      font-weight: bold;
      background: linear-gradient(to left, #818f30, #7aa596, #80858a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .notification{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        span {
            width: 16px;
            height: 16px;
            font-size: 12px;
            position: absolute;
            right: -5px;
            top: -5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: red;
            border-radius: 50%;

}
    }
  }
  
}
