@use "../../styles/index.scss" as *;
.pieChartBox {
  width: 100%;
  height: 100%;
  @include flex-column-space-between;
  .chart {
    width: 100%;
    @include flex-center;
  }
  .items {
    width: 100%;
    font-size: 12px;
    @include flex-space-between;
    .item {
      @include flex-column-center;
      .title {
        @include flex-center;
        gap: 7px;
        .dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }
    }
  }
}
